
<div class="about-section paddingTB60 gray-bg">
                <div class="container">
                    <div class="row">
						<div class="col-md-7 col-sm-6">
							<div class="about-title clearfix">
								<h1>About Us </h1>
								<h3>Best Arts and Cooking Coach in town </h3>
								<p class="about-paddingB">Education:<br> Diploma in Computer Science, Bachelor of Arts(Psychology), Master in Bussiness Administration(Human Resource), Interior Design, Numerologist, Make-up Artist, Arts and Cooking experts, Herbal & Cosmetic Consultant, Bussiness Consultant.
</p>
<p class="about-paddingB">Education:<br>Experience- Sales &amp; Marketing, teaching, product promoting, HR in manufacturing, Interior Designer, Numerologist, Make-up Artist, arts &amp; cooking experts, Herbal &amp; cosmetic consultant, business, style, grooming consultant. Enterpraure of Arpita Arts &amp; cooking classes, HR &amp; career guidance, counsellor, flower remedy therapist. 8 yr. of Experience in teaching field,8 yr. Of experimental, innovative knowledge, deep knowledge about subject help students in advancement and for their career, developing own business. It’s very difficult to coverts passion into the career or business. Now it’s easy with us. Join our hobbies classes, follow your passion, covert your passion into the earning, career, business. </p>
						<div class="about-icons"> 
                           <i class="fab fa-facebook-f"></i>
                           <i class="fab fa-instagram"></i>      
               
               
	           
	           
	        
	        </div>
							</div>
						</div>
						<div class="col-md-5 col-sm-6">
							<div class="about-img">
								<img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
							</div>
						</div>	
                    </div>
                </div>
            </div>