<div class="card">
  <div class="card-body">
      Confirm Checkout
      <hr>
                    <a href="https://test.instamojo.com/@srs25121997/lbd8638619e8c48799b36e299d5f7acf1/" type="button" class="btn btn-success">Checkout</a>

  </div>

</div>